.root {
  cursor: pointer;
  position: relative;
  flex: 1;
  height: 35%;
  align-self: center;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.root:hover {
  filter: brightness(0.88);
}

.badge {
  position: absolute;
  display: flex;
  line-height: 0px;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: -7px;
  background-color: #f44336;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
