.underlined {
  position: relative;
}

.underlined::after {
  content: "";
  background-color: var(--text-light);
  height: 0.9px;
  width: 70%;
  position: absolute;
  bottom: -1px;
  left: 2px;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0.5em 0;
  padding: 0 0 0 2px;
}

li {
  font-size: 0.8em;
}

.container {
  border: 1px solid var(--text-light);
  border-radius: 15px;
  padding: 10px;
  font-weight: 200;
}
