.App {
  display: flex;
  flex: 1;
  min-width: 100vw;
  min-height: 100vh;
}

.reflection-area {
  background-color: var(--bg-light);
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  flex: 0.67;
}

.col1,
.col3 {
  flex: 0.33;
  background-color: var(--bg-dark);
}

.col1,
.col3,
.reflection-area {
  padding: 1em;
  flex-direction: column;
  display: flex;
}

.closet {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
}
