.App {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

.reflection-area {
  max-height: 100vh;
  width: 66vw;
  background-color: var(--bg-light);
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0.67;
  position: relative;
}

.col1 {
  max-width: 25vw;
}

.col2 {
  max-width: 25vw;
}

.col1,
.col3 {
  flex: 0.33;
  background-color: var(--bg-dark);
}

.col1,
.col3,
.reflection-area {
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.closet {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid black !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid black !important;
}

li.slide {
  max-height: 50vh;
  object-fit: contain;
}
