*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  --bg-light: #f0e5d0;
  --bg-dark: #cdc4b8;
}

html {
  background-color: var(--bg-dark);
}
